<template>
  <div>
    <v-row v-if="loading">
      <v-col cols="12" class="text-center">
        <v-progress-circular
          :size="70"
          :width="7"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="4">
        <v-row>
          <v-col cols="12">
            <v-img max-height="250px" contain :src="product.images[selectedImage].file" />
          </v-col>
          <v-col>
            <v-slide-group
              v-model="selectedImage"
              show-arrows
              prev-icon="navigate_before"
              next-icon="navigate_next"
              mandatory
            >
              <v-slide-item
                v-for="image in product.images"
                :key="image.id"
                v-slot:default="{ active, toggle }"
              >
                <v-card class="ma-4" height="100" max-width="100" @click="toggle">
                  <v-img
                    :src="image.file"
                    contain
                    height="100px"
                    :style="active ? 'border: 2px solid #ffdd61;' : 'border: 0'"
                  />
                </v-card>
              </v-slide-item>
            </v-slide-group>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8">
        <v-row>
          <v-col cols="12">
            <h2>
              {{ product.title }}
            </h2>
          </v-col>
<!--          <v-col cols="3">-->
<!--            <v-rating-->
<!--              v-model="rating"-->
<!--              background-color="orange lighten-3"-->
<!--              color="orange"-->
<!--              small-->
<!--              readonly-->
<!--            ></v-rating>-->
<!--          </v-col>-->
<!--          <v-col cols="1">-->
<!--            {{ rating }}-->
<!--          </v-col>-->
          <v-col
            v-if="product.favorite_product > 0"
            style="cursor: pointer"
          >
            <v-icon
              class="info--text"
              @click="addRemoveFavorite($event, product.id, product.favorite_product)"
            >
              favorite
            </v-icon>
            {{ favoriteText }}
          </v-col>
          <v-col
            v-else
            style="cursor: pointer"
          >
            <v-icon @click="addRemoveFavorite($event, product.id, product.favorite_product)">
              favorite
            </v-icon>
            {{ favoriteText }}
          </v-col>
        </v-row>
        <v-divider />
        <h2 class="mt-4">{{ product.price }} ₸</h2>
        <v-btn :disabled="btnAddToCart" class="secondary mt-2" @click="addToCart(product.id)">
          Добавить в корзину
        </v-btn>
      </v-col>
      <v-col>
        <v-snackbar
          v-model="goodIsAddedToCartSnackbar"
        >
          Товар добавился в корзину
          <v-btn
            color="pink"
            text
            @click="goodIsAddedToCartSnackbar = false"
          >
            Закрыть
          </v-btn>
        </v-snackbar>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'AllCategoriesProductId',
  data: () => ({
    selectedImage: 0,
    rating: 4,
    goodIsAddedToCartSnackbar: false,
    btnAddToCart: false,
    cartProducts: [],
    product: {},
    loading: true,
    favoriteText: 'Добавить в избранное'
  }),
  async mounted() {
    this.product = await this.$axios.get(`/products/${parseInt(this.$route.params.id)}`)
    this.product = this.product.data
    let favoriteProducts = await this.$store.dispatch('fetchFavoriteProducts')
    favoriteProducts = favoriteProducts.filter(favoriteProduct => favoriteProduct.user === this.$auth.user.id)
    let index = favoriteProducts.findIndex(favoriteProduct => favoriteProduct.product === this.product.id)
    if (index > -1) {
      this.product.favorite_product = favoriteProducts[index].id
      this.favoriteText = 'Удалить из избранных'
    }
    this.cartProducts = await this.$axios.get('/cart/')
    this.cartProducts = this.cartProducts.data.filter(cartProd => cartProd.user === this.$auth.user.id && cartProd.product === this.$store.state.currentProductId)
    if (this.cartProducts.length > 0) {
      this.btnAddToCart = true
    }
    this.loading = false
  },
  methods: {
    async addToCart (productId) {
      this.goodIsAddedToCartSnackbar = true
      this.btnAddToCart = true
      await this.$axios.post('/cart/', {
        product: productId,
        user: this.$auth.user.id
      })
      await this.$store.dispatch('addProductToCart', productId)
    },
    async addRemoveFavorite (button, productId, favoriteProductId) {
      button.target.classList.toggle('info--text')
      if (button.target.outerHTML.includes('info--text') === true) {
        await this.$axios.post('/favorite_products/', {
          product: productId,
          user: this.$auth.user.id
        })
        this.goodIsAddedSnackbar = true
        this.favoriteText = 'Удалить из избранных'

        this.loading = true
        this.product = await this.$axios.get(`/products/${parseInt(this.$route.params.id)}`)
        this.product = this.product.data
        let favoriteProducts = await this.$store.dispatch('fetchFavoriteProducts')
        favoriteProducts = favoriteProducts.filter(favoriteProduct => favoriteProduct.user === this.$auth.user.id)
        let index = favoriteProducts.findIndex(favoriteProduct => favoriteProduct.product === this.product.id)
        if (index > -1) {
          this.product.favorite_product = favoriteProducts[index].id
          this.favoriteText = 'Удалить из избранных'
        }
        this.loading = false
      } else {
        this.goodIsRemovedSnackbar = true
        await this.$axios.delete('/favorite_products/' + favoriteProductId)
        this.favoriteText = 'Добавить в избранное'

        this.loading = true
        this.product = await this.$axios.get(`/products/${parseInt(this.$route.params.id)}`)
        this.product = this.product.data
        let favoriteProducts = await this.$store.dispatch('fetchFavoriteProducts')
        favoriteProducts = favoriteProducts.filter(favoriteProduct => favoriteProduct.user === this.$auth.user.id)
        let index = favoriteProducts.findIndex(favoriteProduct => favoriteProduct.product === this.product.id)
        if (index > -1) {
          this.product.favorite_product = favoriteProducts[index].id
          this.favoriteText = 'Удалить из избранных'
        }
        this.loading = false
      }
    }
  }
}
</script>

<style scoped></style>
