<template>
  <div>
    <v-row v-if="loading">
      <v-col cols="12" class="text-center">
        <v-progress-circular
          :size="70"
          :width="7"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="12">
        <h2>
          {{ categoryTitle }}
        </h2>
      </v-col>
      <v-col v-if="currentCategoryProducts.length < 1">
        Нет товаров по этой категории
      </v-col>
      <v-col v-else v-for="product in currentCategoryProducts" :key="product.id" cols="2">
        <v-card>
          <v-card-text class="justify-end">
            <v-icon
              v-if="product.favorite_product > 0"
              @click="addRemoveFavorite($event, product.id, product.favorite_product)"
              class="info--text"
            >
              favorite
            </v-icon>
            <v-icon
              v-else
              @click="addRemoveFavorite($event, product.id, product.favorite_product)"
            >
              favorite
            </v-icon>
          </v-card-text>
          <v-card-text>
            <v-img max-height="100px" contain :src="product.images[0].file" />
          </v-card-text>
          <v-card-text class="text-center font-weight-bold">
            {{ product.title }}
          </v-card-text>
          <v-card-text
            class="text-center font-weight-bold"
            style="font-size: 18px"
          >
            {{ product.price }} ₸
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn class="secondary" @click="viewProduct(product.id)">
              Подробнее
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col>
        <v-snackbar
          v-model="goodIsAddedSnackbar"
        >
          Товар добавился в избранное
          <v-btn
            color="pink"
            text
            @click="goodIsAddedSnackbar = false"
          >
            Закрыть
          </v-btn>
        </v-snackbar>
      </v-col>
      <v-col>
        <v-snackbar
          v-model="goodIsRemovedSnackbar"
        >
          Товар удалился из избранных
          <v-btn
            color="pink"
            text
            @click="goodIsRemovedSnackbar = false"
          >
            Закрыть
          </v-btn>
        </v-snackbar>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'Categories',
  data: () => ({
    goodIsAddedSnackbar: false,
    goodIsRemovedSnackbar: false,
    categoryTitle: '',
    currentCategoryProducts: [],
    favoriteProductsOfCurrentUser: [],
    loading: true
  }),
  methods: {
    viewProduct(productId) {
      this.$router.push('product/' + productId)
      this.$store.commit('SET_CURRENT_PRODUCT', productId)
    },
    async addRemoveFavorite (button, productId, favoriteProductId) {
      button.target.classList.toggle('info--text')
      if (button.target.outerHTML.includes('info--text') === true) {
        await this.$axios.post('/favorite_products/', {
          product: productId,
          user: this.$auth.user.id
        })
        this.goodIsAddedSnackbar = true

        this.loading = true
        let products = await this.$axios.get('/products/')
        products = products.data
        products = products.filter(product => product.category === parseInt(this.$route.params.id) && product.company !== this.$auth.user.company)
        let favoriteProducts = await this.$store.dispatch('fetchFavoriteProducts')
        favoriteProducts = favoriteProducts.filter(favoriteProduct => favoriteProduct.user === this.$auth.user.id)
        this.favoriteProductsOfCurrentUser = favoriteProducts
        if (this.favoriteProductsOfCurrentUser.length > 0) {
          products.forEach(product => {
            let index = this.favoriteProductsOfCurrentUser.findIndex(favoriteProduct => favoriteProduct.product === product.id)
            if (index > -1) {
              product.favorite_product = this.favoriteProductsOfCurrentUser[index].id
            }
          })
        }
        this.currentCategoryProducts = products
        this.loading = false

      } else {
        this.goodIsRemovedSnackbar = true
        await this.$axios.delete('/favorite_products/' + favoriteProductId)

        this.loading = true
        let products = await this.$axios.get('/products/')
        products = products.data
        products = products.filter(product => product.category === parseInt(this.$route.params.id) && product.company !== this.$auth.user.company)
        let favoriteProducts = await this.$store.dispatch('fetchFavoriteProducts')
        favoriteProducts = favoriteProducts.filter(favoriteProduct => favoriteProduct.user === this.$auth.user.id)
        this.favoriteProductsOfCurrentUser = favoriteProducts
        if (this.favoriteProductsOfCurrentUser.length > 0) {
          products.forEach(product => {
            let index = this.favoriteProductsOfCurrentUser.findIndex(favoriteProduct => favoriteProduct.product === product.id)
            if (index > -1) {
              product.favorite_product = this.favoriteProductsOfCurrentUser[index].id
            }
          })
        }
        this.currentCategoryProducts = products
        this.loading = false

      }
    }
  },
  async mounted() {
    let categories = await this.$store.dispatch('fetchCategories')
    categories = categories.filter(category => category.id === parseInt(this.$route.params.id))
    this.categoryTitle = categories[0].title
    // let products = await this.$store.dispatch('fetchProducts')
    let products = await this.$axios.get('/products/')
    products = products.data
    products = products.filter(product => product.category === parseInt(this.$route.params.id) && product.company !== this.$auth.user.company)
    let favoriteProducts = await this.$store.dispatch('fetchFavoriteProducts')
    favoriteProducts = favoriteProducts.filter(favoriteProduct => favoriteProduct.user === this.$auth.user.id)
    this.favoriteProductsOfCurrentUser = favoriteProducts
    if (this.favoriteProductsOfCurrentUser.length > 0) {
      products.forEach(product => {
        let index = this.favoriteProductsOfCurrentUser.findIndex(favoriteProduct => favoriteProduct.product === product.id)
        if (index > -1) {
          product.favorite_product = this.favoriteProductsOfCurrentUser[index].id
        }
      })
    }
    this.currentCategoryProducts = products
    this.loading = false
  }
}
</script>

<style scoped></style>
