<template>
  <v-row>
    <v-col v-for="category in allCategories" :key="category.id" cols="2">
      <v-card @click="goToCategory(category.id)">
        <v-card-text class="text-center">
          {{ category.title }}
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'AllCategories',
  data: () => ({
    allCategories: []
  }),
  async mounted() {
    this.allCategories = await this.$axios.get('categories')
    this.allCategories = this.allCategories.data
    this.$store.commit('SET_CATEGORIES', this.allCategories)
  },
  methods: {
    goToCategory (categoryId) {
      this.$router.push('/allCategories/' + categoryId)
      this.$store.commit('SET_CURRENT_CATEGORY', categoryId)
    }
  }
}
</script>

<style scoped></style>
