<template>
  <div>
    <v-card-title>
      Редактировать продукт
    </v-card-title>
    <v-row>
      <v-col cols="6">
        <v-text-field
          :value="product.data.title"
          ref="productTitle"
          outlined
          dense
          label="Наименование"
          color="primary"
        />
        <v-textarea
          :value="product.data.description"
          ref="productDescription"
          outlined
          dense
          label="Описание"
          color="primary"
        />
        <v-text-field
          :value="product.data.price"
          ref="productPrice"
          outlined
          dense
          label="Цена"
          color="primary"
          type="number"
        />
<!--        <v-select-->
<!--          :items="titlesOfGroups"-->
<!--          label="Группа"-->
<!--          outlined-->
<!--          dense-->
<!--          color="primary"-->
<!--        />-->
        <v-btn class="primary" @click="editProduct(product.data.id)">
          Сохранить
        </v-btn>
      </v-col>
<!--      <v-col cols="6">-->
<!--        <v-row>-->
<!--          <v-col cols="12">-->
<!--            <v-img-->
<!--              :src="product.data.images[selectedImage].file"-->
<!--              max-width="150"-->
<!--              class="mx-auto"-->
<!--            />-->
<!--          </v-col>-->
<!--          <v-col>-->
<!--            <v-slide-group-->
<!--              v-model="selectedImage"-->
<!--              show-arrows-->
<!--              prev-icon="navigate_before"-->
<!--              next-icon="navigate_next"-->
<!--              mandatory-->
<!--            >-->
<!--              <v-slide-item-->
<!--                v-for="image in product.data.images"-->
<!--                :key="image.created"-->
<!--                v-slot:default="{ active, toggle }"-->
<!--              >-->
<!--                <v-card-->
<!--                  class="ma-4"-->
<!--                  height="100"-->
<!--                  max-width="100"-->
<!--                  @click="toggle"-->
<!--                >-->
<!--                  <v-img-->
<!--                    :src="image.file"-->
<!--                    contain-->
<!--                    height="100px"-->
<!--                    :style="active ? 'border: 2px solid #ffdd61;' : 'border: 0'"-->
<!--                  />-->
<!--                </v-card>-->
<!--              </v-slide-item>-->
<!--            </v-slide-group>-->
<!--          </v-col>-->
<!--        </v-row>-->
<!--      </v-col>-->
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'EditProductId',
  async asyncData({ $axios, params, $auth }) {
    const product = await $axios.get(`/products/${params.id}`)
    let groups = await $axios.get('/groups')

    let groupToCurrentGroup = groups.data

    let currentGroup = groupToCurrentGroup.filter(group => group.company === params.id)

    console.log(currentGroup)

    groups = groups.data.filter(group => group.company === $auth.user.company)
    const titlesOfGroups = []
    for (let i = 0; i < groups.length; i++) {
      titlesOfGroups.push(groups[i].title)
    }
    return {
      product,
      titlesOfGroups,
      groups
    }
  },
  data: () => ({
    selectedImage: 0,
    selectedGroup: '',
    productTitle: '',
    productDescription: '',
    productPrice: ''
  }),
  methods: {
    async editProduct (productId) {
      await this.$axios.patch('/products/' + productId + '/', {
        title: this.$refs.productTitle.internalValue
      })
      await this.$axios.patch('/products/' + productId + '/', {
        description: this.$refs.productDescription.internalValue
      })
      await this.$axios.patch('/products/' + productId + '/', {
        price: this.$refs.productPrice.internalValue
      })
      this.$router.push('/myCompany/products')
    }
  }
}
</script>

<style scoped></style>
