<template>
  <v-row>
    <v-col>
      <v-card>
        <v-card-title>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Поиск"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="desserts"
          :search="search"
        ></v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "allOrders",
  data: () => ({
    headers: [
      {
        text: 'Дата заказа',
        align: 'start',
        value: 'date',
      },
      { text: 'Имя клиента', value: 'clientName' },
      { text: 'Фамилия клиента', value: 'clientSurname' },
      { text: 'Телефон клиента', value: 'clientPhone' },
      { text: 'Email клиента', value: 'clientEmail' },
      { text: 'Дата доставки', value: 'dateOfOrder' },
      { text: 'Адрес доставки', value: 'addressOfOrder' },
      { text: 'Комментарий', value: 'commentOfOrder' },
      { text: 'Количество товаров', value: 'productsQuantity' },
      { text: 'Цена', value: 'priceOfOrder' },
    ],
    desserts: [],
    search: ''
  }),
  methods: {
    formatDate(date) {
      if (!date) return null
      date = date.slice(0, 10)

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    }
  },
  async mounted(){
    this.desserts = await this.$axios.get('/order/')
    this.desserts = this.desserts.data
    this.desserts.forEach(d => {
      d.date = this.formatDate(d.created)
    })
  }
}
</script>

<style scoped>

</style>
