<template>
  <v-card-title>
    Сообщения
  </v-card-title>
</template>

<script>
export default {
  name: 'Messages',
  data: () => ({
    drawer: true,
    items: [
      { title: 'Заказы', icon: 'shopping_cart', to: '/orders' },
      { title: 'Сообщения', icon: 'message', to: 'myCompany/messages' },
      { title: 'Товары и услуги', icon: 'redeem', to: 'myCompany/products' },
      { title: 'Отзывы', icon: 'star', to: 'myCompany/reviews' },
      { title: 'Клиенты', icon: 'people', to: '/clients' }
    ],
    mini: false
  }),
  methods: {
    getRoute() {
      this.$nuxt.$route.path = '/myCompany'
    }
  }
}
</script>

<style scoped></style>
