<template>
  <div>
    <v-card-title>
      Группы для товаров и услуг моей компании
      <v-btn class="ml-2 primary" @click="openDialog">
        Добавить группу
      </v-btn>
    </v-card-title>
    <v-row>
      <v-col
        v-for="group in groups"
        :key="group.id"
        cols="2"
        class="mr-2"
      >
        <v-card>
          <v-card-text style="text-align: -webkit-center">
            <v-img :src="group.file" width="50px" />
          </v-card-text>
          <v-card-subtitle class="text-center">
            {{ group.title }}
          </v-card-subtitle>
          <v-card-actions>
            <v-row>
              <v-col class="text-center">
                <v-btn class="primary" x-small @click="editGroup(group.id)">
                  Редактировать
                </v-btn>
              </v-col>
              <v-col class="text-center">
                <v-btn class="primary" x-small @click="deleteGroup(group.id)">
                  Удалить
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Добавить группу</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="nameOfGroup"
                    label="Наименование"
                    required
                    prepend-icon="note"
                  />
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    v-model="descriptionOfGroup"
                    label="Описание"
                    required
                    prepend-icon="description"
                  />
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="imageOfGroup"
                    multiple
                    label="Добавить фотографию"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false">
              Закрыть
            </v-btn>
            <v-btn color="primary" text @click="saveGroup">
              Сохранить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'MyCompanyProductsGroups',
  data: () => ({
    dialog: false,
    nameOfGroup: '',
    descriptionOfGroup: '',
    imageOfGroup: [],
    groups: []
  }),
  methods: {
    openDialog() {
      this.dialog = true
    },
    async saveGroup () {
      const formDataGroup = new FormData()

      formDataGroup.append('title', this.nameOfGroup)
      formDataGroup.append('description', this.descriptionOfGroup)
      formDataGroup.append('is_active', true)
      formDataGroup.append('company', this.$auth.user.company)

      for (let i = 0; i < this.imageOfGroup.length; i++) {
        const image = this.imageOfGroup[i]
        formDataGroup.append('file', image)
      }

      await this.$store.dispatch('addGroup', formDataGroup)

      this.nameOfGroup = this.descriptionOfGroup = this.imageOfGroup = ''
      this.dialog = false

      await this.$store.dispatch('fetchGroups')
      this.groups = this.$store.state.groups
    },
    async deleteGroup(groupId) {
      await this.$store.dispatch('deleteGroup', groupId)
      await this.$store.dispatch('fetchGroups')
      this.groups = this.$store.state.groups
    },
    editGroup (groupId) {
      this.$router.push('editGroup/' + groupId)
    }
  },
  async mounted () {
    await this.$store.dispatch('fetchGroups')
    this.groups = this.$store.state.groups
  }
}
</script>

<style scoped></style>
