<template>
  <v-card-title>
    Заказы
  </v-card-title>
</template>

<script>
export default {
  name: 'Orders',
  data: () => ({
    drawer: true,
    items: [
      { title: 'Заказы', icon: 'shopping_cart', to: '/orders' },
      { title: 'Сообщения', icon: 'message', to: '/messages' },
      { title: 'Товары и услуги', icon: 'redeem', to: 'myCompany/products' },
      { title: 'Отзывы', icon: 'star', to: 'myCompany/reviews' },
      { title: 'Клиенты', icon: 'people', to: 'myCompany/clients' }
    ],
    mini: false
  })
}
</script>

<style scoped></style>
