<template>
  <div>
    <v-card-title>
      Продукты и услуги
      <v-btn class="ml-2 primary" @click="openDialog">
        Добавить товар
      </v-btn>
    </v-card-title>
    <v-row v-if="loading">
      <v-col cols="12" class="text-center">
        <v-progress-circular
          :size="70"
          :width="7"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col v-if="componentProducts.length === 0" cols="12" class="text-center">
        <h3> У вас нет товаров </h3>
      </v-col>
      <template v-else>
        <v-col
          v-for="product in componentProducts"
          :key="product.id"
          cols="2"
          class="mr-2"
          v-if="product.company === $auth.user.company"
        >
          <v-card v-if="product.company === $auth.user.company">
            <v-card-text
              v-if="product.images.length > 0"
              style="text-align: -webkit-center"
            >
              <v-img :src="product.images[0].file" width="50px" />
            </v-card-text>
            <v-card-title class="justify-center" style="font-size: 15px">
              {{ product.title }}
            </v-card-title>
            <v-card-text class="text-center" style="font-size: 18px">
              {{ product.price }} 〒
            </v-card-text>
            <v-card-actions>
              <v-row>
                <v-col class="text-center">
                  <v-btn class="primary" x-small @click="editProduct(product.id)">
                    Редактировать
                  </v-btn>
                </v-col>
                <v-col class="text-center">
                  <v-btn
                    class="primary"
                    x-small
                    @click="deleteProduct(product.id)"
                  >
                    Удалить
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-actions>
          </v-card>
        </v-col>
      </template>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Добавить товар</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="nameOfProduct"
                    label="Наименование"
                    required
                    prepend-icon="note"
                  />
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    v-model="descriptionOfProduct"
                    label="Описание"
                    required
                    prepend-icon="description"
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="priceOfProduct"
                    label="Цена"
                    required
                    prepend-icon="money"
                  />
                </v-col>
                <v-col>
                  <v-select
                    v-model="selectedGroup"
                    :items="titlesOfGroups"
                    label="Группа"
                    dense
                    prepend-icon="apps"
                  />
                </v-col>
                <v-col>
                  <v-select
                    v-model="selectedCategory"
                    :items="titlesOfCategories"
                    label="Категория"
                    dense
                    prepend-icon="folder"
                  />
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="imagesOfProduct"
                    multiple
                    label="Добавить фотографии"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false">
              Закрыть
            </v-btn>
            <v-btn color="primary" text @click="saveProduct">
              Сохранить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row>
      <v-col>
        <v-dialog
          v-model="dialogForAgreeToDelete"
          persistent
          max-width="290"
        >
          <v-card>
            <v-card-title class="justify-center">
              Удалить этот товар?
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="secondary"
                text
                @click="dialogForAgreeToDelete = false"
              >
                Отменить
              </v-btn>
              <v-btn
                color="primary"
                text
                @click="finallyDeleteProduct"
              >
                Удалить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'Products',
  data: () => ({
    dialog: false,
    nameOfProduct: '',
    descriptionOfProduct: '',
    priceOfProduct: '',
    imagesOfProduct: [],
    selectedGroup: '',
    selectedCategory: '',
    componentGroups: [],
    componentCategories: [],
    componentCompanies: [],
    titlesOfGroups: [],
    titlesOfCategories: [],
    componentProducts: [],
    dialogForAgreeToDelete: false,
    deletingProductId: 0,
    loading: true
  }),
  async mounted() {
    this.componentCompanies = await this.$axios.get('/companies')
    this.componentGroups = await this.$axios.get('/groups')
    this.componentCategories = await this.$axios.get('/categories')
    this.componentProducts = await this.$axios.get('/products')

    this.componentProducts = this.componentProducts.data

    this.componentProducts = this.componentProducts.filter(product => product.company === this.$auth.user.company)

    this.componentGroups = this.componentGroups.data.filter(group => group.company === this.$auth.user.company)
    for (let i = 0; i < this.componentGroups.length; i++) {
      this.titlesOfGroups.push(this.componentGroups[i].title)
    }

    for (let i = 0; i < this.componentCategories.data.length; i++) {
      this.titlesOfCategories.push(this.componentCategories.data[i].title)
    }
    this.loading = false
  },
  methods: {
    openDialog() {
      this.dialog = true
    },
    async saveProduct() {
      let selectedGroup = this.selectedGroup
      let groups = await this.$axios.get('/groups')
      groups = groups.data.filter(group => group.company === this.$auth.user.company)
      selectedGroup = groups.filter(group => group.title === selectedGroup)

      let selectedCategory = this.selectedCategory
      let categories = await this.$axios.get('/categories')
      selectedCategory = categories.data.filter(category => category.title === selectedCategory)

      let formData = new FormData()

      formData.append('title', this.nameOfProduct)
      formData.append('description', this.descriptionOfProduct)
      formData.append('price', this.priceOfProduct)
      formData.append('company', this.$auth.user.company)
      formData.append('group', selectedGroup[0].id)
      formData.append('category', selectedCategory[0].id)

      for (let i = 0; i < this.imagesOfProduct.length; i++) {
        const image = this.imagesOfProduct[i]
        formData.append('image_' + i, image)
      }

      await this.$axios({
        method: 'POST',
        url: '/products/',
        data: formData,
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      this.nameOfProduct = this.descriptionOfProduct = ''
      this.priceOfProduct = this.imagesOfProduct = ''
      this.dialog = false

      this.componentProducts = await this.$axios.get('/products')
      this.componentProducts = this.componentProducts.data
    },
    deleteProduct(productId) {
      this.dialogForAgreeToDelete = true
      this.deletingProductId = productId
    },
    editProduct(productId) {
      this.$router.push('editProduct/' + productId)
    },
    async finallyDeleteProduct () {
      await this.$axios.delete('/products/' + this.deletingProductId)
      this.componentProducts = await this.$axios.get('/products')
      this.componentProducts = this.componentProducts.data
      this.componentProducts = this.componentProducts.filter(product => product.company === this.$auth.user.company)
      this.dialogForAgreeToDelete = false
    }
  }
}
</script>

<style scoped></style>
