<template>
  <div>
    <v-card-title>
      Кабинет компании
      {{ companies.name }}
    </v-card-title>
    <v-card-subtitle>
      Создано: {{ formatDate(companies.created_at) }}
    </v-card-subtitle>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  async asyncData( { $axios, $auth } ) {
    let companies = await $axios.get('/companies/')
    companies = companies.data
    companies = companies.find( e => e.id === $auth.user.company )
    return {
      companies
    }
  },
  methods: {
    formatDate(date) {
      if (!date) return null
      date = date.slice(0, 10)

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    }
  }
}
</script>

<style scoped></style>
