<template>
  <div>
    <v-card
      v-for="cardOfProduct in cardsOfProducts"
      :key="cardOfProduct.id"
      class="mx-auto mb-4"
    >
      <v-container>
        <v-row>
          <v-col>
            {{ cardOfProduct.title }}
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-avatar tile size="100">
              <v-img src="https://cdn.vuetifyjs.com/images/cards/store.jpg" />
            </v-avatar>
            <v-card-text>
              2 отзыва
            </v-card-text>
          </v-col>
          <v-col cols="6">
            <v-avatar tile size="100">
              <v-img src="https://cdn.vuetifyjs.com/images/cards/store.jpg" />
            </v-avatar>
            <v-card-text>
              40+ отзыва
            </v-card-text>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'CardOfProducts',
  data: () => ({
    cardsOfProducts: [
      {
        id: 1,
        title: 'Лидеры',
        img1: 'https://cdn.vuetifyjs.com/images/cards/store.jpg',
        img2: 'https://cdn.vuetifyjs.com/images/cards/store.jpg'
      },
      {
        id: 2,
        title: 'Новые товары',
        img1: 'https://cdn.vuetifyjs.com/images/cards/store.jpg',
        img2: 'https://cdn.vuetifyjs.com/images/cards/store.jpg'
      },
      {
        id: 3,
        title: 'Ежедневные предложения',
        img1: 'https://cdn.vuetifyjs.com/images/cards/store.jpg',
        img2: 'https://cdn.vuetifyjs.com/images/cards/store.jpg'
      },
      {
        id: 4,
        title: 'Заводы ОЕМ',
        img1: 'https://cdn.vuetifyjs.com/images/cards/store.jpg',
        img2: 'https://cdn.vuetifyjs.com/images/cards/store.jpg'
      }
    ]
  })
}
</script>

<style scoped></style>
