<template>
  <div>
    <v-container fluid class="hidden-sm-and-up">
      <v-row>
        <v-col>
          <v-carousel :show-arrows="false" height="150" class="mt-10" cycle>
            <v-carousel-item
              src="https://s.alicdn.com/@img/tfs/TB12FvhEXY7gK0jSZKzXXaikpXa-990-400.png"
            >
            </v-carousel-item>
            <v-carousel-item
              src="https://img.alicdn.com/tfs/TB1TAdKeuH2gK0jSZFEXXcqMpXa-990-400.jpg"
            >
            </v-carousel-item>
          </v-carousel>
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-carousel :show-arrows="false" height="400" cycle>
            <v-carousel-item
              src="https://s.alicdn.com/@img/tfs/TB12FvhEXY7gK0jSZKzXXaikpXa-990-400.png"
            >
            </v-carousel-item>
            <v-carousel-item
              src="https://img.alicdn.com/tfs/TB1TAdKeuH2gK0jSZFEXXcqMpXa-990-400.jpg"
            >
            </v-carousel-item>
          </v-carousel>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'Carousel'
}
</script>

<style scoped></style>
