<template>
  <v-row class="mb-6">
    <v-col cols="12">
      <h2>Популярные товары</h2>
    </v-col>
    <v-col v-for="(product, i) in 12" :key="i" cols="2">
      <v-card hover>
        <v-container>
          <v-row>
            <v-col>
              <v-img
                src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg"
              />
            </v-col>
            <v-col class="text-center">
              <h3>
                89990 тг
              </h3>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'PopularProducts'
}
</script>

<style scoped></style>
