<template>
  <v-bottom-navigation
    color="orange"
    value="1"
    shift
    app
    class="hidden-sm-and-up"
  >
    <v-btn value="home">
      <span class="bottom_nav_text">Главная</span>
      <v-icon>home</v-icon>
    </v-btn>

    <v-btn value="news_feeds">
      <span class="bottom_nav_text">Новости</span>
      <v-icon>bookmark</v-icon>
    </v-btn>

    <v-btn value="messenger">
      <span class="bottom_nav_text">Мессенджер</span>
      <v-icon>message</v-icon>
    </v-btn>

    <v-btn value="profile">
      <span class="bottom_nav_text">Профиль</span>
      <v-icon>person</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  name: 'BottomNav'
}
</script>

<style scoped>
.bottom_nav_text {
  font-size: 10px;
}
</style>
