<template>
  <v-row>
    <v-col cols="2" class="text-center">
      <p style="cursor: pointer" @click="goToAllCategories">Все категории</p>
    </v-col>
<!--    <v-col cols="1" class="text-center">-->
<!--      <p style="cursor: pointer">Акции</p>-->
<!--    </v-col>-->

    <v-spacer />

    <v-col cols="2" class="text-center" @click="toFavorite">
      <v-icon class="mb-1" style="cursor: pointer">
        favorite_border
      </v-icon>
      <span style="cursor: pointer">Избранное</span>
    </v-col>
    <v-col cols="2" class="text-center" @click="toBasket">
      <v-icon class="mb-1" style="cursor: pointer">
        shopping_cart
      </v-icon>
      <span style="cursor: pointer">Корзина</span>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'AllCategories',
  methods: {
    goToAllCategories() {
      this.$router.push('/allCategories')
    },
    toFavorite() {
      this.$router.push('/myAccount')
    },
    toBasket () {
      this.$router.push('/basket')
    }
  }
}
</script>

<style scoped></style>
