<template>
  <div>
    <v-app-bar app class="hidden-sm-and-up">
      <v-container fluid>
        <v-row>
          <v-col cols="4">
            <v-toolbar-title class="text-center mt-4">
              <span>
                Medial Group
              </span>
            </v-toolbar-title>
          </v-col>
          <v-col cols="8">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  flat
                  solo-inverted
                  hide-details
                  rounded
                  single-line
                  prepend-inner-icon="search"
                  label="Поиск товаров"
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="hidden-sm-and-down">
                <v-btn>
                  Найти
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>
    <v-app-bar color="white">
      <v-container fluid>
        <v-row>
          <v-col cols="2">
            <v-toolbar-title
              class="primary--text font-weight-bold mt-2 text-center"
              style="cursor: pointer"
              @click="toHome"
            >
              Medial Group
            </v-toolbar-title>
          </v-col>
          <v-col class="offset-1" cols="6">
            <v-text-field
              flat
              solo-inverted
              hide-details
              rounded
              single-line
              prepend-inner-icon="search"
              label="Поиск товаров"
              color="primary"
            ></v-text-field>
          </v-col>

          <v-spacer />

          <v-col v-if="$auth.loggedIn" cols="2" class="mt-1">
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  class="primary--text text-center"
                  v-bind="attrs"
                  v-on="on"
                >
                  {{ $auth.user.email }}
                </v-btn>
              </template>
              <v-list>
                <v-list-item @click="$router.push('/myAccount')">
                  <v-list-item-title> Мой аккаунт </v-list-item-title>
                </v-list-item>
                <v-list-item v-if="$store.state.hasCompany === true || $auth.user.company !== null" @click="$router.push('/myCompany/profile')">
                  <v-list-item-title> Моя компания </v-list-item-title>
                </v-list-item>
                <v-list-item v-else @click="createCompany">
                  <v-list-item-title> Создать компанию </v-list-item-title>
                </v-list-item>
                <v-list-item @click="$auth.logout()">
                  <v-list-item-title>
                    Выйти
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>
          <v-col v-else cols="3" class="mt-1">
            <v-btn text class="primary--text" to="/login">
              Войти
            </v-btn>
            <v-btn outlined class="primary--text" to="/registration">
              Регистрация
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>
    <v-dialog
      v-model="createCompanyDialog"
      max-width="350"
    >
      <v-card>
        <v-card-title class="headline">Назовите вашу компанию</v-card-title>

        <v-card-text>
          <v-text-field
            v-model="nameOfCompany"
            label="Название компании"
            color="primary"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            text
            @click="createCompanyDialog = false"
          >
            Закрыть
          </v-btn>

          <v-btn
            color="primary"
            text
            @click="finallyCreateCompany"
          >
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data: () => ({
    createCompanyDialog: false,
    nameOfCompany: '',
  }),
  methods: {
    toHome() {
      this.$router.push('/')
    },
    createCompany() {
      this.createCompanyDialog = true
    },
    async finallyCreateCompany() {
      await this.$store.dispatch('createCompany', this.nameOfCompany)
      this.createCompanyDialog = false
    }
  }
}
</script>

<style scoped></style>
