<template>
  <v-row class="hidden-sm-and-up">
    <v-col class="text-center">
      <v-btn>
        <v-icon color="black">
          view_headline
        </v-icon>
        <div style="font-size: 10px" class="text-center">
          Все категории
        </div>
      </v-btn>
    </v-col>
    <v-col class="text-center">
      <v-icon color="black">
        adjust
      </v-icon>
      <div style="font-size: 10px" class="text-center">
        Отправка запросов
      </div>
    </v-col>
    <v-col class="text-center">
      <v-icon color="black">
        check_box
      </v-icon>
      <div style="font-size: 10px" class="text-center">
        Готово к отправке
      </div>
    </v-col>
    <v-col class="text-center">
      <v-icon color="black">
        add_location
      </v-icon>
      <div style="font-size: 10px" class="text-center">
        Средства индивидуальной защиты
      </div>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'HeaderTopMenuWrapper'
  }
</script>

<style scoped>

</style>
