<template>
  <div class="hidden-sm-and-up">
    <Carousel />

    <HeaderTopMenuWrapper />

    <CardOfProducts />
  </div>
</template>

<script>
  export default {
    name: 'index'
  }
</script>

<style scoped>

</style>
