<template>
  <v-card flat tile>
    <v-row>
      <v-col v-for="product in myFavoriteProducts" :key="product.id" cols="3" class="mx-auto">
        <v-card>
          <v-card-text>
            <v-img max-height="100px" contain :src="product.images[0].file" />
          </v-card-text>
          <v-card-text class="text-center font-weight-bold">
            {{ product.title }}
          </v-card-text>
          <v-card-text
            class="text-center font-weight-bold"
            style="font-size: 18px"
          >
            {{ product.price }} ₸
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn class="secondary" @click="viewProduct(product.id)">
              Подробнее
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'MyFavorites',
  data: () => ({
    products: [],
    myFavoriteProducts: []
  }),
  async mounted () {
    this.products = await this.$axios.get(`/products`)
    this.products = this.products.data

    this.products.forEach(product => {
      if (product.favorite_products.length > 0) {
        product.favorite_products.forEach(fProduct => {
          if (fProduct.user === this.$auth.user.id) {
            this.myFavoriteProducts.push(product)
          }
        })
      }
    })
  },
  methods: {
    viewProduct(productId) {
      this.$router.push('allCategories/product/' + productId)
      this.$store.commit('SET_CURRENT_PRODUCT', productId)
    }
  }
}
</script>

<style scoped></style>
