<template>
  <v-card flat tile>
    <v-row>
      <v-col class="offset-1" cols="10">
        <v-card>
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
          ></v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "MyOrders",
  data: () => ({
    headers: [
      {
        text: 'Дата заказа',
        align: 'start',
        value: 'date',
      },
      { text: 'Дата доставки', value: 'dateOfOrder' },
      { text: 'Адрес доставки', value: 'addressOfOrder' },
      { text: 'Комментарий', value: 'commentOfOrder' },
      { text: 'Количество товаров', value: 'productsQuantity' },
      { text: 'Цена', value: 'priceOfOrder' },
    ],
    desserts: [],
    search: ''
  }),
  methods: {
    formatDate(date) {
      if (!date) return null
      date = date.slice(0, 10)

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    }
  },
  async mounted(){
    this.desserts = await this.$axios.get('/order/')
    this.desserts = this.desserts.data
    this.desserts = this.desserts.filter(d => d.user === this.$auth.user.id)
    this.desserts.forEach(d => {
      d.date = this.formatDate(d.created)
    })
  }
}
</script>

<style scoped>

</style>
