<template>
  <v-card flat tile>
    <v-row>
      <v-col class="mx-auto" cols="8">
        <h3>Мой профиль - {{ $auth.user.name }}</h3>
        <p class="mt-4">Электронная почта - {{ $auth.user.email }}</p>
<!--        <v-btn class="primary">-->
<!--          Изменить пароль-->
<!--        </v-btn>-->
<!--        <v-btn class="primary">-->
<!--          Редактировать данные профиля-->
<!--        </v-btn>-->
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'MyProfile'
}
</script>

<style scoped></style>
