<template>
  <v-app>
    <Header />
    <v-container fluid>
      <nuxt />
    </v-container>
    <BottomNav />
    <Footer />
  </v-app>
</template>

<script>
import Header from '../components/app/Header'
import BottomNav from '../components/app/BottomNav'
import Footer from '../components/app/Footer'
export default {
  name: 'Company',
  components: {
    Footer,
    Header,
    BottomNav
  }
}
</script>

<style scoped></style>
