<template>
  <v-app>
    <Header />
    <v-container fluid>
      <HeaderTopMenuWrapper />
      <nuxt />
    </v-container>
    <BottomNav />
    <Footer />
  </v-app>
</template>

<script>
import Header from '../components/app/Header'
import BottomNav from '../components/app/BottomNav'
import Footer from '../components/app/Footer'
import HeaderTopMenuWrapper from '../components/app/HeaderTopMenuWrapper'

export default {
  components: {
    Footer,
    Header,
    BottomNav,
    HeaderTopMenuWrapper
  }
}
</script>

<style scoped></style>
