<template>
  <v-app>
    <v-content>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'Empty'
}
</script>

<style scoped></style>
