<template>
  <v-container fluid>
    <v-row>
      <v-col class="font-weight-bold basket-title" cols="9">
        Корзина
      </v-col>
      <v-col class="font-weight-bold basket-title" cols="3" style="margin-left: -80px">
        Сумма к оплате
      </v-col>
    </v-row>
    <v-row v-if="loading">
      <v-col cols="12" class="text-center">
        <v-progress-circular
          :size="70"
          :width="7"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="8">
        <v-card>
          <v-container>
            <v-row>
              <v-col class="text-center" cols="2">
                <div class="basket-table-text">
                  Товары
                </div>
              </v-col>
              <v-col cols="3">

              </v-col>
              <v-col class="text-center" cols="2">
                <div class="basket-table-text">
                  Кол-во
                </div>
              </v-col>
              <v-col cols="2">

              </v-col>
              <v-col class="text-center" cols="3">
                <div class="basket-table-text">
                  Цена
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="text-center" cols="2" v-if="$store.state.allQuantityOfBasketProducts === 0">
                У вас нет товаров в корзине
              </v-col>
              <v-col v-else cols=12>
                <div v-for="indeedBasketProduct in $store.state.indeedBasketProducts" :key="indeedBasketProduct.id">
                  <v-row v-for="basketProduct in $store.state.basketProducts" :key="basketProduct.id">
                    <v-col cols="2" v-if="basketProduct.id === indeedBasketProduct.product">
                      <v-img :src="basketProduct.images[0].file" />
                    </v-col>
                    <v-col class="text-center" cols="3" v-if="basketProduct.id === indeedBasketProduct.product">
                      {{ basketProduct.title }}
                    </v-col>
                    <v-col class="text-center" cols="2" v-if="basketProduct.id === indeedBasketProduct.product">
                      <v-icon style="margin-bottom: 5px" @click="decreaseQuantity(indeedBasketProduct.id)" >
                        remove
                      </v-icon>
                      <span style="font-size: 20px; margin-top: 10px" v-if="basketProduct.id === indeedBasketProduct.product">
                      {{ indeedBasketProduct.quantity }}
                      </span>
                      <v-icon style="margin-bottom: 5px" @click="increaseQuantity(indeedBasketProduct.id)">
                        add
                      </v-icon>
                    </v-col>
                    <v-col class="text-center" cols="2" v-if="basketProduct.id === indeedBasketProduct.product">
                      <v-icon @click="deleteProductFromCart(basketProduct.id)">
                        delete
                      </v-icon>
                    </v-col>
                    <v-col style="font-size: 20px" class="text-center" cols="3" v-if="basketProduct.id === indeedBasketProduct.product">
                      {{ basketProduct.price }} ₸
                    </v-col>
                  </v-row>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card class="ml-8">
          <v-container>
            <v-row>
              <v-col cols="6" v-if="$store.state.allQuantityOfBasketProducts === 1">
                {{ $store.state.allQuantityOfBasketProducts }} товар на сумму
              </v-col>
              <v-col cols="6" v-else-if="$store.state.allQuantityOfBasketProducts < 5 && $store.state.allQuantityOfBasketProducts >= 2">
                {{ $store.state.allQuantityOfBasketProducts }} товара на сумму
              </v-col>
              <v-col cols="6" v-else-if="$store.state.allQuantityOfBasketProducts >= 5">
                {{ $store.state.allQuantityOfBasketProducts }} товаров на сумму
              </v-col>
              <v-col class="text-right" cols="6" v-if="$store.state.allPriceOfBasketProducts > 0">
                <div class="font-weight-bold">
                  {{ $store.state.allPriceOfBasketProducts }} ₸
                </div>
              </v-col>
              <v-col>
                <v-divider v-if="$store.state.allQuantityOfBasketProducts > 0" />
              </v-col>
              <v-col class="text-center amount-to-be-paid" cols="12" v-if="$store.state.allPriceOfBasketProducts > 0">
                Бесплатная доставка
              </v-col>
              <v-col class="text-center" cols="12" v-if="$store.state.allPriceOfBasketProducts > 0">
                <v-btn class="light-green darken-1" dark @click="checkout">
                  Оформить заказ
                </v-btn>
              </v-col>
              <v-col v-else class="text-center" cols="12">
                Здесь появится общая сумма товаров
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Basket',
  data: () => ({
    allCartProducts: [],
    allProducts: [],
    basketProducts: [],
    indeedBasketProducts: [],
    loading: false
  }),
  async mounted () {
    this.loading = true
    this.allCartProducts = await this.$axios.get('/cart/')
    this.allCartProducts = this.allCartProducts.data
    this.allProducts = await this.$axios.get('/products/')
    this.allProducts = this.allProducts.data
    this.allCartProducts = this.allCartProducts.filter(cartProduct => cartProduct.user === this.$auth.user.id)
    this.allProducts.forEach( product => {
      this.allCartProducts.forEach( cartProduct => {
        if (product.id === cartProduct.product) {
          this.basketProducts.push(product)
        }
      } )
    } )
    this.$store.commit('SET_CURRENT_BASKET_PRODUCTS', this.basketProducts)
    if (this.basketProducts.length > 0) {
      this.indeedBasketProducts = await this.$axios.get('/cart/')
      this.indeedBasketProducts = this.indeedBasketProducts.data
      this.indeedBasketProducts = this.indeedBasketProducts.filter(indeedBasketProduct => indeedBasketProduct.user === this.$auth.user.id)
      this.$store.commit('SET_CURRENT_INDEED_BASKET_PRODUCTS', this.indeedBasketProducts)
    }
    this.$store.commit('SET_CURRENT_QUANTITY_OF_BASKET_PRODUCTS')
    this.$store.commit('SET_CURRENT_PRICE_OF_BASKET_PRODUCTS')
    this.loading = false
  },
  methods: {
    async deleteProductFromCart (basketProductId) {
      await this.$store.dispatch('deleteProductFromCart', basketProductId)
    },
    async increaseQuantity (indeedBasketProductId) {
      await this.$store.dispatch('increaseQuantityToOne', indeedBasketProductId)
    },
    async decreaseQuantity (indeedBasketProductId) {
      await this.$store.dispatch('decreaseQuantityToOne', indeedBasketProductId)
    },
    checkout () {
      this.$router.push('/shipping/')
    }
  }
}
</script>

<style lang="scss" scoped>
.basket-title {
  font-size: 20px;
}
.amount-to-be-paid {
  color: $primary;
}
.basket-table-text {
  font-size: 20px;
  color: $secondary;
}
.amount-to-be-paid-btn {
  color: $success;
}
</style>
