<template>
  <v-container fluid>
    <v-row>
      <v-col cols="10">
        <v-card class="offset-2">
          <v-container fluid>
            <v-row>
              <v-col cols="4">
                <v-img
                  src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/2/4/2474aa25b274ea6fb8f0daa3234b3ceefcf82640_217093_1.jpg"
                />
              </v-col>
              <v-col cols="8">
                <h3>Смартфон Apple iPhone SE (2020) 64GB Black</h3>
                <v-divider />
                <v-row>
                  <v-col cols="6">
                    <div class="mt-4">
                      249 890 ₸
                    </div>
                    <v-btn dark class="light-green darken-1 mt-2">
                      Добавить в корзину
                    </v-btn>
                    <div class="mt-2 font-weight-bold">
                      Описание
                    </div>
                    <div class="mt-2">
                      Диагональ дисплея, дюйм: 4.7
                    </div>
                    <div class="mt-2">
                      Разрешение дисплея: 750x1334
                    </div>
                    <div class="mt-2">
                      Операционная система: 3
                    </div>
                    <div class="mt-2">
                      Объём встроенной памяти: 64
                    </div>
                    <div class="mt-2">
                      Количество SIM-карт: 2
                    </div>
                    <div class="mt-2">
                      Ёмкость аккумулятора, mAh: 1821
                    </div>
                    <div class="mt-2">
                      Модельный год: 2020
                    </div>
                  </v-col>
                  <v-col cols="6">
                    <v-card>
                      <v-container>
                        <v-row>
                          <v-col>
                            <h4 class="delivery-city-text">
                              Ваш город: Алматы
                            </h4>
                            <p class="mt-2">
                              Бесплатная доставка
                            </p>
                            <p style="font-size: 25px" class="font-weight-bold">
                              Самовывоз
                            </p>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'CardOfProduct'
}
</script>

<style lang="scss" scoped>
.delivery-city-text {
  color: $primary;
}
</style>
