<template>
  <v-app>
    <v-app-bar app light>
      <v-container fluid>
        <v-row>
          <v-col cols="2">
            <v-icon>
              keyboard_backspace
            </v-icon>
          </v-col>
          <v-col cols="10">
            <v-toolbar-title>
              <span>
                Все категории
              </span>
            </v-toolbar-title>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>
    <v-list>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            Детские
          </v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <v-icon>
            keyboard_arrow_right
          </v-icon>
        </v-list-item-action>
      </v-list-item>
    </v-list>
  </v-app>
</template>

<script>
export default {
  name: 'Categories',
  layout: 'empty',
  methods: {}
}
</script>

<style scoped></style>
