<template>
  <div>
    <v-row>
      <v-col class="offset-2" cols="8">
        <Carousel />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-2" cols="8">
        <PopularProducts />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Carousel from '../components/home/Carousel'
import PopularProducts from '../components/home/PopularProducts'

export default {
  layout: 'default',
  components: {
    PopularProducts,
    Carousel
  }
}
</script>
