<template>
  <v-app light>
    <v-content>
      <v-container fluid class="hidden-sm-and-up">
        <v-row>
          <v-col cols="2">
            <v-icon @click="closeLoginPage">
              clear
            </v-icon>
          </v-col>
          <v-col cols="10">
            <h3>
              Войти
            </h3>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-form>
              <v-text-field
                label="Адрес электронной почты"
                prepend-inner-icon="account_circle"
              />
              <v-text-field
                label="Пароль"
                prepend-inner-icon="lock"
                append-icon="visibility_off"
              />
              <div style="font-size: 15px" class="text-right mt-n4">
                Забыли пароль
              </div>
              <v-btn class="orange theme--dark">
                Войти
              </v-btn>
              <div style="font-size: 15px" class="mt-4">
                У вас еще нет аккаунта?
                <span class="primary--text" style="cursor: pointer">
                  Регистрация
                </span>
              </div>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
      <v-container fluid class="hidden-xs-only fill-height">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12" max-width="500">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Войти</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-text-field
                  v-model="email"
                  label="Адрес электронной почты"
                  prepend-inner-icon="account_circle"
                  color="primary"
                />
                <v-text-field
                  v-model="password"
                  label="Пароль"
                  :type="showPassword ? 'text' : 'password'"
                  prepend-inner-icon="lock"
                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                  color="primary"
                  @click:append="showPassword = !showPassword"
                />
                <div style="font-size: 15px" class="mt-4">
                  У вас еще нет аккаунта?
                  <span
                    class="primary--text"
                    style="cursor: pointer"
                    @click="toRegistration"
                  >
                    Регистрация
                  </span>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-btn class="primary theme--dark" @click="login">
                  Войти
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'Login',
  layout: 'empty',
  data: () => ({
    email: '',
    password: '',
    showPassword: false
  }),
  methods: {
    closeLoginPage() {
      this.$router.push('/')
    },
    toRegistration() {
      this.$router.push('/registration')
    },
    async login() {
      await this.$auth.loginWith('local', {
        data: {
          email: this.email,
          password: this.password
        }
      })
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss" scoped></style>
