<template>
  <v-row class="accent">
    <v-col class="mx-auto" cols="9">
      <v-card>
        <v-tabs class="elevation-2" grow centered icons-and-text>
          <v-tabs-slider />
          <v-tab href="#myProfile">
            Мой профиль
            <v-icon>person</v-icon>
          </v-tab>

          <v-tab href="#purchaseHistory">
            История заказов
            <v-icon>history</v-icon>
          </v-tab>

          <v-tab href="#favorite">
            Избранное
            <v-icon>favorite_border</v-icon>
          </v-tab>

          <v-tab-item value="myProfile">
            <MyProfile />
          </v-tab-item>

          <v-tab-item value="purchaseHistory">
            <MyOrders />
          </v-tab-item>

          <v-tab-item value="favorite">
            <MyFavorites />
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import MyProfile from '~/components/myAccount/MyProfile'
import MyFavorites from '~/components/myAccount/MyFavorites'
import MyOrders from '@/components/myAccount/MyOrders'

export default {
  name: 'MyAccount',
  components: { MyFavorites, MyProfile, MyOrders }
}
</script>

<style scoped></style>
