<template>
  <v-card class="mb-12">
    <v-row>
      <v-col :cols="calcNavDrawContent">
        <v-navigation-drawer
          v-model="drawer"
          :mini-variant.sync="mini"
          permanent
        >
          <v-list-item class="px-2">
            <v-list-item-avatar>
              <v-img
                src="https://randomuser.me/api/portraits/men/85.jpg"
              ></v-img>
            </v-list-item-avatar>

            <v-list-item-title>Кабинет</v-list-item-title>

            <v-btn icon @click.stop="mini = !mini">
              <v-icon>keyboard_backspace</v-icon>
            </v-btn>
          </v-list-item>

          <v-divider></v-divider>

          <v-list dense class="pb-0">
            <v-list-item to="/myCompany/profile">
              <v-list-item-icon>
                <v-icon>work</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Кабинет</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-list dense class="pt-0">
            <v-list-group
              v-for="item in myCompanyItems"
              :key="item.title"
              v-model="item.active"
              :prepend-icon="item.action"
              no-action
            >
              <template v-slot:activator>
                <v-list-item-icon>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.title"></v-list-item-title>
                </v-list-item-content>
              </template>
              <template v-if="item.subItems.length > 0">
                <v-list-item
                  v-for="subItem in item.subItems"
                  :key="subItem.title"
                  :to="subItem.to"
                >
                  <v-list-item-content>
                    <v-list-item-title v-text="subItem.title" />
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list-group>
          </v-list>
        </v-navigation-drawer>
      </v-col>
      <v-col :cols="calcMainContent">
        <nuxt-child />
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'MyCompany',
  layout: 'company',
  data: () => ({
    drawer: true,
    myCompanyItems: [
      {
        title: 'Заказы',
        icon: 'shopping_cart',
        to: 'orders',
        subItems: [
          {
            title: 'Все',
            to: '/myCompany/allOrders'
          },
        ]
      },
      { title: 'Сообщения', icon: 'message', to: 'messages', subItems: [] },
      {
        title: 'Товары и услуги',
        icon: 'redeem',
        subItems: [
          {
            title: 'Товары',
            to: '/myCompany/products'
          },
          {
            title: 'Группы',
            to: '/myCompany/myCompanyProductsGroups'
          }
        ]
      },
      // { title: 'Отзывы', icon: 'star', to: 'reviews', subItems: [] },
      { title: 'Клиенты', icon: 'people', to: 'clients', subItems: [] }
    ],
    mini: false,
    navDrawContent: 2,
    mainContent: 10
  }),
  computed: {
    calcNavDrawContent() {
      if (!this.mini) {
        return 2
      } else {
        return 1
      }
    },
    calcMainContent() {
      if (!this.mini) {
        return 10
      } else {
        return 11
      }
    }
  }
}
</script>

<style scoped></style>
