<template>
  <v-app>
    <v-content>
      <v-container class="hidden-sm-and-up" fluid>
        <v-row>
          <v-col cols="2">
            <v-icon>
              clear
            </v-icon>
          </v-col>
          <v-col cols="10">
            <h3>
              Зарегистрироваться
            </h3>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-form>
              <v-text-field
                label="Адрес электронной почты"
                prepend-inner-icon="account_circle"
              />
              <v-text-field
                label="Пароль"
                prepend-inner-icon="lock"
                append-icon="visibility_off"
              />
              <v-text-field
                label="Потвердите пароль"
                prepend-inner-icon="lock"
                append-icon="visibility_off"
              />
              <v-text-field
                label="Имя"
                prepend-inner-icon="format_align_center"
              />
              <v-text-field
                label="Фамилия"
                prepend-inner-icon="format_align_center"
              />
              <v-btn class="orange theme--dark">
                Зарегистрироваться
              </v-btn>
              <div style="font-size: 15px" class="mt-4">
                Есть аккаунт?
                <span class="orange--text"> Войти </span>
              </div>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
      <v-container fluid class="hidden-xs-only fill-height">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12" max-width="500">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Регистрация</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-text-field
                  v-model="email"
                  label="Адрес электронной почты"
                  prepend-inner-icon="account_circle"
                  color="primary"
                />
                <v-text-field
                  v-model="password"
                  label="Пароль"
                  :type="showPassword ? 'text' : 'password'"
                  prepend-inner-icon="lock"
                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                  color="primary"
                  @click:append="showPassword = !showPassword"
                />
                <v-text-field
                  label="Потвердите пароль"
                  :type="showConfirmPassword ? 'text' : 'password'"
                  prepend-inner-icon="lock"
                  :append-icon="
                    showConfirmPassword ? 'visibility' : 'visibility_off'
                  "
                  color="primary"
                  @click:append="showConfirmPassword = !showConfirmPassword"
                />
                <v-text-field
                  v-model="name"
                  label="Имя"
                  prepend-inner-icon="format_align_center"
                  color="primary"
                />
                <v-text-field
                  v-model="surname"
                  label="Фамилия"
                  prepend-inner-icon="format_align_center"
                  color="primary"
                />
                <div style="font-size: 15px" class="mt-4">
                  Есть аккаунт?
                  <span
                    class="primary--text"
                    style="cursor: pointer"
                    @click="toLogin"
                  >
                    Войти
                  </span>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-btn class="primary theme--dark" @click="register">
                  Регистрация
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'Registration',
  layout: 'empty',
  data: () => ({
    showPassword: false,
    showConfirmPassword: false,
    email: '',
    password: '',
    name: '',
    surname: ''
  }),
  methods: {
    toLogin() {
      this.$router.push('/login')
    },
    async register() {
      await this.$axios.post('/user/create/', {
        email: this.email,
        password: this.password,
        name: this.name,
        surname: this.surname
      })
      await this.$auth.loginWith('local', {
        data: {
          email: this.email,
          password: this.password
        }
      })
      this.$router.push('/')
    }
  }
}
</script>

<style scoped></style>
