<template>
  <v-container fluid>
    <v-row>
      <v-col cols="8">
        Адрес доставки
      </v-col>
      <v-col cols="4">
        Состав заказа
      </v-col>
      <v-col cols="8">
        <v-card>
          <v-row>
<!--            <v-col class="offset-1" cols="12">-->
<!--              <v-checkbox v-model="checkboxLegalEntity" label="Я – представитель юридического лица"></v-checkbox>-->
<!--            </v-col>-->
            <v-col class="offset-1" cols="5">
              <v-text-field
                :value="$auth.user.name"
                ref="clientName"
                label="Имя"
                outlined
                dense
              />
              <v-text-field
                ref="clientPhone"
                label="Номер телефона"
                outlined
                dense
              />
              <v-text-field
                v-if="checkboxLegalEntity"
                ref="nameOfOrganization"
                label="Название организации"
                outlined
                dense
              />
              <v-text-field
                v-if="checkboxLegalEntity"
                ref="addressOfOrganization"
                label="Юридический адрес организации"
                outlined
                dense
              />
              <v-text-field
                v-if="checkboxLegalEntity"
                ref="bikOfOrganization"
                label="БИК организации"
                outlined
                dense
              />
            </v-col>
            <v-col class="offset-xs1" cols="5">
              <v-text-field
                :value="$auth.user.surname"
                ref="clientSurname"
                label="Фамилия"
                outlined
                dense
              />
              <v-text-field
                :value="$auth.user.email"
                ref="clientEmail"
                label="Адрес электронной почты"
                outlined
                dense
              />
              <v-text-field
                v-if="checkboxLegalEntity"
                ref="binOfOrganization"
                label="БИН организации"
                outlined
                dense
              />
              <v-text-field
                v-if="checkboxLegalEntity"
                ref="iikOfOrganization"
                label="ИИК организации"
                outlined
                dense
              />
            </v-col>
            <v-col class="offset-1" cols="5">
              <v-radio-group v-model="radioGroup">
                <v-radio label="Доставка" />
                <v-radio label="Самовывоз" />
              </v-radio-group>
            </v-col>
            <v-col class="offset-1" cols="7" v-if="!radioGroup">
              <v-text-field
                ref="addressOfOrder"
                label="Адреc доставки"
                outlined
                dense
              />
            </v-col>
            <v-col class="offset-xs1" cols="3" v-if="!radioGroup">
              <v-dialog
                ref="dialog"
                v-model="modal"
                :return-value.sync="date"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="date"
                    ref="dateOfOrder"
                    label="Дата"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    outlined
                    dense
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="date"
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="modal = false"
                  >
                    Отменить
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.dialog.save(date)"
                  >
                    Сохранить
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
            <v-col class="offset-1" cols="12" v-if="radioGroup">
              Заберите товар по адресу Сатпаева 30/8 офис 143 с 28.09.2020 числа
            </v-col>
            <v-col class="offset-1" cols="10">
              <v-textarea
                ref="commentOfOrder"
                label="Комментарий к заказу"
                outlined
                dense
              />
            </v-col>
            <v-col class="offset-1">
              <v-btn color="primary" @click="saveOrder">
                Сохранить
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card>
          <div v-for="indeedBasketProduct in $store.state.indeedBasketProducts" :key="indeedBasketProduct.id">
            <v-row v-for="basketProduct in $store.state.basketProducts" :key="basketProduct.id">
              <v-col cols="3" class="ml-2" v-if="indeedBasketProduct.product === basketProduct.id">
                <v-img :src="basketProduct.images[0].file" />
              </v-col>
              <v-col cols="3" class="text-center" style="font-size: 14px" v-if="indeedBasketProduct.product === basketProduct.id">
                {{ basketProduct.title }}
              </v-col>
              <v-col cols="2" class="mt-2 text-center" v-if="indeedBasketProduct.product === basketProduct.id">
                x{{indeedBasketProduct.quantity}}
              </v-col>
              <v-col cols="3" class="mt-2 text-center" v-if="indeedBasketProduct.product === basketProduct.id">
                {{indeedBasketProduct.quantity * basketProduct.price}}₸
              </v-col>
            </v-row>
          </div>
          <v-row>
            <v-col cols="12">
              <v-divider />
            </v-col>
            <v-col cols="3">
              <div class="ml-2">
                К оплате
              </div>
            </v-col>
            <v-col cols="9" class="text-right">
              <div class="mr-2 font-weight-bold" style="font-size: 20px">
                {{$store.state.allPriceOfBasketProducts}} ₸
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col justify="center">
        <v-snackbar
          v-model="orderSnackbar"
          :timeout=5000
          color="primary"
          style="font-size: 18px"
          class="text-sm-center"
        >
          Заказ сохранен. Вам позвонит наш менеджер
          <v-btn
            dark
            text
            @click="orderSnackbar = false"
          >
            Закрыть
          </v-btn>
        </v-snackbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: "shipping",
    data: () => ({
      date: new Date().toISOString().substr(0, 10),
      modal: false,
      radioGroup: 0,
      checkboxLegalEntity: false,
      orderSnackbar: false
    }),
    mounted() {
    },
    methods: {
      async saveOrder () {
        let productsString = '-1,'

        this.$store.state.indeedBasketProducts.forEach(p => {
          productsString += p.product.toString() + ","
        })

        if (this.checkboxLegalEntity === false) {
          if (this.radioGroup === 0) {
            await this.$axios.post('/order/', {
              clientName: this.$refs.clientName.internalValue,
              clientSurname: this.$refs.clientSurname.internalValue,
              clientPhone: this.$refs.clientPhone.internalValue,
              clientEmail: this.$refs.clientEmail.internalValue,
              nameOfOrganization: null,
              binOfOrganization: null,
              addressOfOrganization: null,
              iikOfOrganization: null,
              bikOfOrganization: null,
              addressOfOrder: this.$refs.addressOfOrder.internalValue,
              dateOfOrder: this.$refs.dateOfOrder.internalValue,
              commentOfOrder: this.$refs.commentOfOrder.internalValue,
              products: productsString,
              productsQuantity: this.$store.state.allQuantityOfBasketProducts,
              priceOfOrder: this.$store.state.allPriceOfBasketProducts,
              user: this.$auth.user.id
            })

            this.orderSnackbar = true

            let length = this.$store.state.indeedBasketProducts.length

            while (length !== 0) {
              await this.$store.dispatch('deleteProductFromCart',
                this.$store.state.indeedBasketProducts[length - 1].product)
              length -= 1
            }

            this.$refs.clientName.internalValue = this.$refs.clientSurname.internalValue =
            this.$refs.clientPhone.internalValue = this.$refs.clientEmail.internalValue =
            this.$refs.addressOfOrder.internalValue = this.$refs.dateOfOrder.internalValue =
            this.$refs.commentOfOrder.internalValue = ''
            setTimeout(() => {
              this.$router.push('/')
            }, 3000)
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
