<template>
  <div>
    <v-card-title>
      Редактировать группу
    </v-card-title>
    <v-row>
      <v-col cols="6">
        <v-text-field
          :value="group.title"
          ref="groupTitle"
          outlined
          dense
          label="Наименование"
          color="primary"
        />
        <v-textarea
          :value="group.description"
          ref="groupDescription"
          outlined
          dense
          label="Описание"
          color="primary"
        />
        <v-btn class="primary" @click="editGroup(group.id)">
          Сохранить
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'EditGroup',
  data: () => ({
    group: []
  }),
  async mounted () {
    let groups = await this.$store.dispatch('fetchGroups')
    groups = groups.filter(group => group.id ===  parseInt(this.$router.app._route.params.id))
    this.group = groups[0]
  },
  methods: {
    async editGroup (groupId) {
      await this.$axios.patch('/groups/' + groupId + '/', {
        title: this.$refs.groupTitle.internalValue
      })
      await this.$axios.patch('/groups/' + groupId + '/', {
        description: this.$refs.groupDescription.internalValue
      })
      this.$router.push('/myCompany/myCompanyProductsGroups')
    }
  }
}
</script>

<style scoped></style>
